@import url("https://fonts.googleapis.com/css2?family=Red+Rose&display=swap");

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 70%;
  height: 100%;
  z-index: 1;
  font-size: clamp(1rem, 3.4783vw, 2.5rem);
}

.content_p {
  font-size: 1rem;
  color: #eae4e4;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

input {
  flex: 1;
  padding: 10px 3rem;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

button {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  margin: 2%;
}

.imageContainer {
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.image:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.downloadButton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  padding: 8px 16px;
  color: #fff;
  font-size: 10px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.downloadButton:hover {
  background-color: #e6b636;
}

.site-info {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.loading {
  text-align: center;
  padding-top: 30px;
}

.homeMain {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.content > h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .content {
    width: 90%;
    max-height: 250px;
    margin: auto;
  }

  .homeMain {
    height: 70vh;
  }

  .content > h1 {
    font-size: 2rem;
  }

  .content > p {
    font-size: 1rem;
  }

  .searchBar {
    margin-top: 10px;
  }

  .searchBar input {
    font-size: 14px;
  }

  .welcomeText {
    font-family: "Red Rose", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    position: absolute;
    top: 100px;
    color: #000000;
    z-index: 2;
    left: 10px;
    right: 10px;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin: 2%;
  }

  .site-info {
    font-size: 16px;
  }

  .loading {
    text-align: center;
  }

  .keywordsContainer {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
    margin: 20px;
  }

  .keywordImageContainer {
    width: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 425px) {
  .homeMain {
    height: 50vh;
  }
  .content {
    width: 80%;
    height: 90%;
  }
  .content > h1 {
    font-size: 1.5rem;
  }
  .content > p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .content > h1 {
    font-size: 1.5rem;
  }

  .content > p {
    font-size: 0.8rem;
  }

  input {
    padding: 10px 1rem;
  }

  button {
    padding: 10px 1rem;
  }
}

@media screen and (max-width: 320px) {
  .content > h1 {
    font-size: 1rem;
  }

  .content > p {
    font-size: 0.8rem;
  }

  input {
    padding: 8px 0.5rem;
  }

  button {
    padding: 8px 0.5rem;
  }
}
