.footer {
  background-color: black;
  padding: 1rem;
  margin-top: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerText {
  font-size: 1rem;
}

.footerLinks {
  display: flex;
  align-items: center;
}

.footerLink {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerLink:hover {
  color: #f2c94c;
}

.socialIcons {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socialIcon {
  margin-right: 1rem;
  transition: color 0.3s ease;
  height: 30px;
  width: 30px;
}

.socialIcon img {
  display: block;
  height: 100%;
  width: 100%;
}

.socialIcon:hover {
  color: #f2c94c;
}

@media screen and (max-width: 768px) {
  .footerContainer {
    align-items: center;
  }

  .footerText {
    font-size: 0.9rem;
  }

  .socialIcon {
    margin: 2px 15px;
  }

  .footerLinks {
    margin-bottom: 0.5rem;
  }

  .footerLink {
    margin-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 0.5rem;
  }

  .footerContainer {
    flex-direction: column;
    align-items: center;
  }

  .footerText {
    font-size: 0.8rem;
  }

  .socialIcon,
  .footerLink {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .socialIcon {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding: 0.3rem;
  }
}

@media screen and (max-width: 320px) {
  .socialIcon,
  .footerLink {
    font-size: 12px;
  }
}
